<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;1,700&display=swap" rel="stylesheet">
  <title>Flights</title>
</head>
<body>
    <nav>
        <h1>TravelAir</h1>
        <a class="active" href="/">HOME</a>
        <a href="/flights">ALL FLIGHTS</a>
        <a href="flights/new">ADD FLIGHT</a>
    </nav>
  <main>
    