<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div class="topnav">
      <a class="active" href="/">HOME</a>
      <a href="/flights">ALL FLIGHTS</a>
      <a href="flights/new">ADD FLIGHT</a>
    </div>

  </body>
</html>
